/* google fonts  */

font-family: 'Amiri', serif;
font-family: 'Antic Slab', serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Love Light', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Pinyon Script', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Spline Sans', sans-serif;

/* optional section costom style */
/* .top-margin{ */
    padding-top: 15px;
}