/* google fonts  */



/* butoon and border readius */
.pakage-radius{
    border-radius: 30px;

}

.bottom-margin{
    margin-bottom: 55px;
}

.top-margin{
    margin-top: 100px ;
}

.top-bottom{
    margin-top: 25px;
    margin-bottom: 25px;
}

.top-bottom2{
    margin-top: 65px;
    margin-bottom: 55px;
} 

.butoon-bg{
   background-color: white;
   padding: 45px;


}

.bg-hot{
    background-color: red;
    border-radius: 8px;
    width: 40px;
    height: 25px;
    text-align: center;
    margin-left: 230px;
   
    
}

.margin-laft{
    margin-left: 760px;
  
}


.bg-footer{
    height: 300px;
    background-color: rgb(19, 19, 19);
}

.font-color{
    color: rgb(196, 171, 135);
}

.foter-tex{
    margin-top: 150px;
    margin-left: 130px;
}